<mat-card class="mat-elevation-z4">
  <mat-card-title>Hello</mat-card-title>
  <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSignin()">
    <span class="message" *ngIf="message">{{ message }}</span>
    <mat-form-field class="email">
      <input matInput type="email" placeholder="Email" formControlName="email" />
      <mat-error class="email-validator-message" *ngIf="formGroup.controls['email'].errors">An email required.</mat-error>
    </mat-form-field>
    <mat-form-field class="password">
      <input matInput type="password" class="signup" placeholder="password" formControlName="password" />
      <mat-error class="password-validator-message" *ngIf="formGroup.controls['password'].errors">An password required.</mat-error>
    </mat-form-field>
    <div class="btn-wrapper">
      <button mat-raised-button class="signin" color="primary" [disabled]="formGroup.controls['email'].invalid || formGroup.controls['password'].invalid" type="submit">Login</button>
      <button mat-raised-button class="signup" (click)="onSignup()">Signup</button>
    </div>
  </form>
</mat-card>