<div class="container">
  <div>
    <h1 class="header">Hello</h1>
  </div>
  <form class="signin-form">
    <span class="message" *ngIf="message">{{ message }}</span>
    <mat-form-field appearance="outline" class="email">
      <input matInput type="email" placeholder="Email" [formControl]="email" required>
      <mat-error class="email-validator-message" *ngIf="email.invalid">An email required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="password">
      <input matInput type="password" class="signup" placeholder="password" [formControl]="password" required>
      <mat-error class="password-validator-message" *ngIf="password.invalid">An password required.</mat-error>
    </mat-form-field>
    <div class="btn-wrapper">
      <button mat-raised-button class="signin" color="primary" [disabled]="email.invalid || password.invalid"  (click)="onSignin()">Login</button>
      <button mat-raised-button class="signup" (click)="onSignup()">Signup</button>
    </div>
  </form>
</div>